<div class="container" *ngIf="group$ | async as group; else loading">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of group">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
        </mat-panel-title>
        <mat-panel-description>
          Events Attended: {{ user.eventsAttended ? user.eventsAttended : 0 }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="expanded-panel">
        <mat-panel-description class="birthday">
          {{ user.birthday.toDate() | date }}
        </mat-panel-description>

        <mat-panel-description>
          Portion: {{ user.portion }}
        </mat-panel-description>
        <button mat-raised-button color="primary">Profile</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #loading>
  <app-waiting [statement]="statement" [stillLoading]="stillLoading"></app-waiting>
  <button class="add" mat-raised-button color="accent">
    <i routerLink="create" class="material-icons">
      add
    </i>
  </button>
</ng-template>
