.container {
  padding: 50px 10% 0px 10%;
}

mat-toolbar {
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: xx-large;
}

mat-expansion-panel-header {
  height: 100px;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}

.expanded-panel {
  display: flex;
}

mat-panel-description {
  width: 20%;
}

mat-panel-title {
  width: 20%;
}
