.top {
  background-color: whitesmoke;
}

.bottom {
  background-color: whitesmoke;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

mat-toolbar {
  justify-content: space-around;
}
