<mat-card class="modal-content">
  <form [formGroup]="editFoodForm" (ngSubmit)="submitHandler()" *ngIf="editFoodForm">
    <div id="header">
      <div>
        <mat-card-header>
          <mat-card-title>Add Food</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>Please input food based off of single portions</mat-card-subtitle>
      </div>
    </div>
    <hr />
    <div>
      <mat-form-field id="name">
        <input matInput placeholder="Food name" formControlName="name" required />
      </mat-form-field>
    </div>
    <div formArrayName="ingredients" *ngFor="let ingredient of ingredientForms.controls; let i = index">
      <div>
        <div [formGroupName]="i">
          <div>
            <mat-form-field>
              <input matInput placeholder="Ingredient Name" formControlName="name" required />
            </mat-form-field>
            <i class="material-icons" id="delete" (click)="deleteIngredient(i)">
              backspace
            </i>
          </div>
          <div>
            <mat-form-field id="quantity">
              <input matInput placeholder="Quantity" formControlName="quantity" required />
            </mat-form-field>
            <mat-form-field id="unit" *ngIf="measurement$ | async as measurements">
              <mat-label>Unit</mat-label>
              <mat-select formControlName="unit" required>
                <mat-option (click)="addNewUnit()" class="blue">
                  + measurement
                </mat-option>
                <mat-option *ngFor="let item of measurements" [value]="item.shortName">
                  {{ item.shortName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <mat-card-actions>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!editFoodForm.valid">
          SAVE
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancelHandler(editFoodForm.touched)">
          CANCEL
        </button>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addIngredientButtonClick()">
        Add Ingredient
      </button>
    </mat-card-actions>
  </form>
</mat-card>
