mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.group-name {
  padding-right: 40px;
}

.stick {
  position: fixed;
  top: 0;
  width: 100%;
}

.home {
  font-size: 1.5em;
}

button i {
  font-size: 2.5em;
}
