.mat-form-field-appearance-legacy .mat-form-field-infix {
  font-size: small;
}

#delete {
  margin-left: 10px;
}

mat-form-field {
  width: 80%;
}

#quantity,
#unit {
  width: 40%;
}

mat-select .select {
  max-height: 100vh !important;
}
