mat-panel-title {
  width: 50%;
}

.expanded-panel {
  display: flex;
  justify-content: space-between;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: white;
}

.add {
  float: right;
  margin: 10px;
}
