<div class="container" *ngIf="eventCount > 0; else noEvent">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of events">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name | titlecase }}
        </mat-panel-title>
        <ng-template #neverUsed>
          <mat-panel-description>
            Date: {{ item.startDate }}
          </mat-panel-description>
        </ng-template>
      </mat-expansion-panel-header>
      <div class="expanded-panel">
        <mat-list>
          <mat-list-item *ngFor=""> </mat-list-item>
        </mat-list>
      </div>
      <div class="edit">
        <button mat-mini-fab>
          <i class="material-icons">
            edit
          </i>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button class="add" mat-raised-button color="accent">
    <i class="material-icons">
      add
    </i>
  </button>
</div>
<ng-template #noEvent>
  <mat-toolbar>
    Add some events!
  </mat-toolbar>
  <button class="add" mat-raised-button>
    <i class="material-icons">
      add
    </i>
  </button>
</ng-template>
