<div class="container" *ngIf="!noEvents; else noEvent">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of upcomingEvents | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name | titlecase }}
        </mat-panel-title>
        <mat-panel-description>
          {{ item.startDate.toDate() | date }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expanded-panel"></div>
      <div class="edit">
        <button mat-mini-fab>
          <i class="material-icons">
            edit
          </i>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button class="add" mat-raised-button color="accent" routerLink="create">
    <i class="material-icons">
      add
    </i>
  </button>
</div>
<ng-template #noEvent>
  <mat-toolbar>
    Add some events!
  </mat-toolbar>
  <button class="add" mat-raised-button>
    <i routerLink="create" class="material-icons">
      add
    </i>
  </button>
</ng-template>
