.container {
  padding: 10px 10% 0px 10%;
}

mat-toolbar {
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: xx-large;
}

mat-expansion-panel {
  width: auto;
}

mat-expansion-panel-header {
  height: 100px;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}

.expanded-panel {
  display: flex;
}

mat-panel-description {
  width: 20%;
}

mat-panel-title {
  width: 20%;
}

.add {
  margin-top: 16px;
  float: right;
}

.edit {
  display: flex;
  justify-content: flex-end;
}

.edit button {
  position: relative;
  bottom: 5px;
}
