/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;

  background-color: #081035;
  background-image: linear-gradient(149deg, #081035 0%, #3f51b5 100%);
}
